@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-center" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "mybtn" })</li>
        

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {@class= "mybtn"})</li>
    </ul>
    <style type="text/css">
        a.mybtn {
            background-color: teal;
            color: teal;
            display: inline-block;
            padding: 4px 10px 4px 10px;
            text-emphasis-color:black;
        }
    </style>
}
