@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron" style="text-align:center">
    <h1>Feel free to check out my github and linkedIn. Other inquiries send me an email!</h1>
    <h2>Collinlgomillia@gmail.com</h2>
</div>

<address>
    <strong>Github:</strong>   <a href="https://github.com/CollinGomillia">Click</a>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/collin-gomillia-129703210/">Click</a>
</address>