@{
    ViewBag.Title = "Home Page";


}

<style type="text/css">
    .br {
        display: block;
        margin-bottom: 25em;
    }
</style>

<style class="br"></style>



<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://th.bing.com/th/id/OIP.7OwUM-bD8U-yiGOh-JU9ugHaLH?w=204&h=306&c=7&r=0&o=5&pid=1.7" alt="Chania">
                <div class="carousel-caption">
                    <h3>Chipotle bowl</h3>
                    <p>Would totally make this again!</p>
                </div>
            </div>

            <div class="item">
                <img src="https://th.bing.com/th/id/OIP.8xQsltxTXjb6wG_Jai-kWgHaEK?w=319&h=180&c=7&r=0&o=5&pid=1.7" alt="Chicago">
                <div class="carousel-caption">
                    <h3>Mr. Beast Burger</h3>
                    <p>You gotta try it!</p>
                </div>
            </div>

            <div class="item">
                <img src="https://th.bing.com/th/id/OIP.SPl0CteFO835AUn5QQy9RAHaGm?w=201&h=180&c=7&r=0&o=5&pid=1.7" alt="New York">
                <div class="carousel-caption">
                    <h3>Dorito Loco Taco Bell</h3>
                    <p>Definitely worth the make.</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</body>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-id-card"></i>&nbsp;&nbsp;<i class="fa fa-id-card"></i>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1" style="margin-right: -40pt">
            <i class="fa fa-id-card"></i>
        </div>
        <div class="col-sm-1">
            <i class="fa fa-id-card"></i>
        </div>
    </div>
</div>
<style class="br"></style>
    <h1 style="font-size:xx-large; font-family:Cooper; color:snow;">Suggested Recipes</h1>
   
    <div class="center-block glyphicon-align-center">
        <div class="col-sm-6 col-md-4 center-block">
            <div class="thumbnail center-block">
                <img src="https://th.bing.com/th/id/R.6f2576d8e279924bf6a8d2b5b1902892?rik=ZS7%2bAB03CW5nEA&riu=http%3a%2f%2fimg1.wikia.nocookie.net%2f__cb20111106112639%2fspongebob%2fimages%2fthumb%2fb%2fb8%2fKrabby_Patty_2.jpg%2f500px-Krabby_Patty_2.jpg&ehk=NWRQKBLek%2fL6%2fNU0wJD%2bghklwUqYi74TBJkWjRvQjBA%3d&risl=&pid=ImgRaw&r=0" alt="...">
                <div class="caption">
                    <h3>Krabby Patty</h3>
                    <p>Created by:...</p>
                    <button>View</button>
                </div>
            </div>
        </div>
    </div>

    <div class="center-block glyphicon-align-center">
        <div class="col-sm-6 col-md-4 center-block">
            <div class="thumbnail center-block">
                <img src="https://th.bing.com/th/id/R.9f0aaf34ed385d9cf516fe0bb3928649?rik=RzmpPXRUoVotqw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-CtCD9PEmkWg%2fU1MYHczJbDI%2fAAAAAAAAIpA%2fm83llTMxOC8%2fs1600%2fJake%27s%2bTime%2bSandwich.png&ehk=EuMLzWkgZZpoXH%2fmttD6O9Qfb5ZsKIVx5hNVPgeRspY%3d&risl=&pid=ImgRaw&r=0" alt="...">
                <div class="caption">
                    <h3>Jake's Sandwich</h3>
                    <p>Created by:...</p>
                    <button>View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="center-block glyphicon-align-center">
        <div class="col-sm-6 col-md-4 center-block">
            <div class="thumbnail center-block">
                <img src="https://th.bing.com/th/id/R.c74e3e2a7a483b0a3bf86c3ac55b816a?rik=pk6REV5rGvF2%2fw&riu=http%3a%2f%2fstillcracking.com%2fwp-content%2fuploads%2f2016%2f02%2fRatatouille1-550x375.jpg&ehk=aplcoozaN9AeKcghH4NuDGi%2fyV%2bwUbkEh%2bGupFwTHYM%3d&risl=&pid=ImgRaw&r=0" alt="...">
                <div class="caption">
                    <h3>Ratatouille</h3>
                    <p>Created by:...</p>
                    <button>View</button>
                </div>
            </div>
        </div>
    </div>
    <style class="br"></style>
















