@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">


    <h1 style="font-family:Cooper;font-size:xx-large; color:teal;text-align:center;">Recipe Robber</h1>
    <p style="font-family:Cooper;font-size:xx-large; color:teal;text-align:center;">LET US ROB YOUR TASTEBUDS!</p>
</div>
<body>
    <div>
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon" style="place-content:center">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
</body>


<div class="active">
    <h1 style="font-size: large; color: black; font-family: Cooper;text-align:center;">FEEDBACK</h1>
    <figure class="text-center">
        <img src="https://th.bing.com/th/id/OIP.7OwUM-bD8U-yiGOh-JU9ugHaLH?w=204&h=306&c=7&r=0&o=5&pid=1.7" />
        <blockquote class="blockquote">
            <p style="font-size:large;color:snow;font-family:Cooper">I would kill for this bowl again.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <p style="font-size:small;color:snow;font-family:Cooper">Ryan Reynolds</p>
        </figcaption>


        <img src="https://th.bing.com/th/id/OIP.8xQsltxTXjb6wG_Jai-kWgHaEK?w=319&h=180&c=7&r=0&o=5&pid=1.7">
        <blockquote class="blockquote">
            <p style="font-size:large;color:snow;font-family:Cooper">I could slap someone, it tastes that good.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <p style="font-size:small;color:snow;font-family:Cooper">Will Smith.</p>
        </figcaption>
    </figure>
</div>


