@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe Robber</h1>
    <p class="lead">LET US ROB YOUR TASTEBUDS!</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Mission Statement</h2>
        <p>
            Recipe Robber is a copycat recipe MVC. Ever craved a meal from your favorite restaurant? Well
            you can look up how to make all of those recipes from fellow members here!
        </p>
        
    </div>

</div>